:root{
    --grey-1: #ebebeb;
    --grey-2: #e3e3e3;
    --grey-3: #eceff1;
}

.sign-in{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--grey-1);
}

.sign-in-box{
    background: #fff;
    width: 356px;
    min-height: 342px;
    border-radius: 7px;
    text-align: center;
    padding: 35px;
}

.sign-in img{
    width: 42px;
    height: 40px;
}

.sign-in label{
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.sign-in input{
    width: 100%;
    margin-bottom: 20px;
    background: var(--grey-1);
    height: 35px;
    padding: 1px 5px;
    border-radius: 3px;
    border: 1px;
    outline: none;
}

.number-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#phone-number{
    width: 74%;
}

.country-code{
    width: 24%;
    height: 35px;
    background: var(--grey-1);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in input:hover{
    border: 1px solid #191a1b;
}

.sign-in input:focus{
    outline: 1.2px solid #191a1b;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign-in button{
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #191a1b;
    font-size: 1rem;
    font-weight: 700;
}

.sign-in button:hover{
    background-color: #87929d;
    color: #000;
    transition: background-color 0.5s ease;
}


/* TABLET DISPLAY */
@media only screen and (max-width: 1000px){

    .sign-in-box{
        background: #fff;
        width: 376px;
        min-height: 362px;
        padding: 35px;
        margin-top: -20%;
    }
    
    .sign-in img{
        width: 42px;
        height: 40px;
    }
    
    .sign-in label{
        display: block;
        text-align: left;
        margin-bottom: 8px;
    }
    
    .sign-in input{
        width: 100%;
        margin-bottom: 20px;
        background: var(--grey-1);
        height: 30px;
    }

    .country-code{
        height: 30px;
    }
}


/* MOBILE DISPLAY */
@media only screen and (max-width: 600px){
    .sign-in-box{
        margin-top: -40%;
        width: 80%;
        height: 85vw;
    }
}