:root{
    --fontFamily-base: "gordita","Helvetica Neue","Helvetica",sans-serif;
    --fontFamily-print: "Georgia","Times New Roman","Times",serif;
    --fontFamily-mono: "Consolas",monospace;
    --header-background: #f7f6f2;
}

.sign-up-section1{
    width: 100%;
    height: 100vh;
    display: flex;
    background: url(../../assets/Recycle\ Green.jfif);
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: right;
}

.sign-up-section1 h3{
    font-family: var(--fontFamily-mono);
    margin-left: 30px;
    font-size: 5rem;
}

.sign-up-section1 p{
    font-family: "Plus Jakarta Sans",sans-serif;
    margin-left: 50px;
    font-size: 1.2rem;
}

.sign-up-container{
    text-align: center;
    height: 500px;
}

.sign-up-container h2{
    font-weight: 100;
    font-family: var(--fontFamily-print);
    font-size: 2.8rem;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}

.sign-up-container form{
    width: 60%;
    margin: auto;
}

.sign-up-container .number-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
}

.sign-up-container .country-code{
    padding: 10px 22px;
    border: 1px solid #000;
    /* width: 20%; */
    border-right: #fff;
    text-align: left;
    padding-left: 10px;
    border-radius: 6px 0 0 6px;
}

.sign-up-container input[type=text], .sign-up-container input[type=password]{
    padding: 12px 22px;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    border-radius: 6px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.sign-up-container input[type=number]{
    padding: 12px 22px;
    width: 100%;
    border-left: #fff !important;
    border: 1px solid #000;
    outline: none;
    border-radius: 0 6px 6px 0;
    font-size: 1rem;
}

#otp{
    border: 1px solid #000 !important;
    border-radius: 6px !important;
}

.sign-up-container button{
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #191a1b;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
}

.sign-up-container button:hover{
    background-color: var(--header-background);
    color: #191a1b;
    transition: background-color 0.5s ease;
}

.sign-up-container .error{
    color: red;
    font-size: 1rem;
}

.sign-up-container .fa-solid{
    margin-left: 10px;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    margin: auto;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontFamily-base);
    font-weight: 700;
    font-size: 1rem;
}

/* TABLET DISPLAY */
@media only screen and (max-width: 1000px){
    .sign-up-section1{
        background-position: bottom;
    }
}


/* MOBILE DISPLAY */
@media only screen and (max-width: 600px){
    .sign-up-container h2{
        font-size: 2rem;
        width: 85%;
    }

    .sign-up-container form{
        width: 85%;
    }

    .sign-up-section1 h3{
        font-size: 3.6rem;
    }
    
    .sign-up-section1 p{
        margin-left: 30px;
        font-size: 1.1rem;
    }

    .sign-up-section1 br{
        display: none;
    }

    .sign-up-section1{
        background-size: 548px 652px;
    }
}