body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

.visibly-hidden{
  display: none;
}

.error-message {
  color: red;
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.error-page, .loading-page{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #1e1e1e;
}

.loading-page .fa-solid{
  font-size: 2rem;
}

h5{
  font-size: 2rem;
  margin: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-10px) rotate(-5deg); }
  20% { transform: translateX(10px) rotate(5deg); }
  30% { transform: translateX(-10px) rotate(-5deg); }
  40% { transform: translateX(10px) rotate(5deg); }
  50% { transform: translateX(-10px) rotate(-5deg); }
  60% { transform: translateX(10px) rotate(5deg); }
  70% { transform: translateX(-10px) rotate(-5deg); }
  80% { transform: translateX(10px) rotate(5deg); }
  90% { transform: translateX(-10px) rotate(-5deg); }
  100% { transform: translateX(0) rotate(0); }
}
