*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --header-background: #f7f6f2;
}

.mobile-nav-primary, .desktop-nav-primary{
    width: 100%;
    height: 88px;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #68737d;
    position: relative;
    z-index: 10;
}

.mobile-nav-primary > div, .desktop-nav-primary > div{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img{
    width: 42px;
    height: 40px;
}

.nav-logo img, .nav-logo p{
    display: inline;
}

.nav-logo p{
    color: #000;
    margin: 0;
    font-size: 1.6rem;
    margin-left: 10px;
}

.extended-menu {
    height: 200px;
    width: 100%;
    position: absolute;
    background: #191a1b;
    top: 88px;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.extended-menu.drop-down-active {
    transform: translateY(0);
}

.extended-menu a{
    margin: 0;
    padding: 18px 0;
    font-size: 1.5rem;
}

.extended-menu a:nth-child(1){
    color: #fff;
    border-bottom: 1.5px solid #68737d;
}

.extended-menu a:nth-child(2){
    color: #87929d;
}

.menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.menu-icon span {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #000;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.menu-icon.drop-down-active span:nth-child(1) {
    transform-origin: center;
    transform: translateY(0.5rem) rotate(45deg);
}

.menu-icon.drop-down-active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.drop-down-active span:nth-child(3) {
    transform-origin: center;
    transform: translateY(-0.5rem) rotate(-45deg);
}

.btn{
    padding: 10px 22px;
    font-size: 1.35rem;
    border: none;
    border-radius: 6px;
    margin-left: 15px;
    cursor: pointer;
    color: #fff;
}

.submit-btn{
    border: 1px solid #fff;
    background:  #3d6668;
}

.sign-in-btn{
    background:  #1b2c33;
    padding: 10px 30px;
}

.sign-in-btn:hover{
    background-color: var(--header-background);
    color: #000;
    transition: background-color 0.5s ease;
}

/* TABLET DISPLAY */
@media only screen and (max-width: 1000px){

}


/* MOBILE DISPLAY */
@media only screen and (max-width: 600px){
    .mobile-nav-primary > div{
        width: 90%;
    }
    
    .nav-logo img{
        width: 32px;
        height: 30px;
    }

    .nav-logo p{
        font-size: 1.6rem;
        font-weight: 700;
    }
}